<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <script src="/static/js/jquery.3.3.1.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">

    <title>主播菜馆-直播检测平台</title>
    <meta name='Keywords' content='直播平台,检测是否直播,dota2主播,直播,虎牙直播,熊猫直播,斗鱼直播,火猫直播,longdd,黄翔,longdd直播,龙弟弟直播,龙弟弟,主播是否直播,查询是否直播'>
    <meta name='Description' content='直播检测平台是一个检测主播当前直播状态的平台,用户方便查看主播是否在播的平台'>

    <style>
        footer{
            margin: 40px 0;
        }

        button{
            color: #fff;
        }

        .footer-desc{
            margin-top: 10px;
            font-size: 16px;
            color: #ff5d23;
        }

        .footer-desc a{
            color: #ff5d23;
            text-overline: none;
            text-decoration: none;
        }

    </style>

</head>
<body>

    <div id="app">
        <div class="title">
            <div>主播菜馆</div>
            <div>顾客至上 辣味自选</div>
        </div>
        <div class="container"  @click="openZhibo(item.url)" v-for="item in userList">
            <div class="item">
                <div class="img">
                    <img :src="item.img" alt="">
                </div>

                <div class="user-info">
                    <div class="user-name">
                        <div>{{item.user_name}}</div>
                        <div>{{item.title}}</div>
                    </div>
                    <div class="user-btn">
                        <button type="button" :class="autoClass(item.status)">{{autoStatus(item.status)}}</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="mask">
            <p>正在刷新...</p>
        </div>

        <footer>

            <div class="btn-group">
                <button type="button" class="online" @click="jump('https://zhibo.longdd.top/index/index/add')">添加大厨</button>
                <button type="button" class="off-online" @click="getStatus()">刷新厨师状态</button>
                <button type="button" class="off-online"  @click="jump('https://www.longdd.top')">小腿弹幕查询平台</button>
            </div>

            <div class="footer-desc">
                <div>
                    © by <a href="https://weibo.com/607891221" target="_blank">会跑的蜗牛</a>
                </div>
                <div>
                    <p>暂只支持:虎牙 斗鱼 火猫 B站</p>
                </div>
            </div>

        </footer>

    </div>

<script>

    $().ready(function () {

        var app = new Vue({
            el: '#app',
            data: {
                userList: []
            },
            methods:{
                openZhibo(url){
                    window.open(url);
                },
                autoClass:function (status) {
                    return status ? 'online' : 'off-online';
                },
                autoStatus:function (status) {
                    return status ? '开饭' : '参观灶台';
                }
                ,jump(url){
                    window.open(url);
                },

                getlist(){
                    // get 请求
                    var url = "/api/user/getUserList";
                    var that = this;

                    $.get(
                        url,
                        function (data) {
                            if (data.code == 0) {
                                that.userList = data.message;
                                that.getStatus();
                            } else {
                                alert(data.messag);
                            }

                        }, 'JSON'

                    );

                }
                ,getStatus(){
                    // get 请求
                    var url = "/api/user/getStatus";
                    var that = this;

                    mask.show();

                    $.get(
                        url,
                        function (data) {
                            if (data.code == 0) {

                                mask.close();
                                that.userList = data.message;

                            } else {
                                alert(data.messag);
                            }

                        }, 'JSON'
                    )
                }

            },

            created:function () {
                this.getlist()
            }

        });

        var mask = {
            show(){
                $('.mask > p').text('正在检测直播状态...');
                $('.mask').show(1000);
            }
            ,close(){
                $('.mask > p').text('检测成功!');
                $('.mask').hide(1000);
            }
        };

    })


</script>
