<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TI 9冲刺战队</title>

    <script src="/static/js/jquery.3.3.1.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <meta name='Keywords' content=''>
    <meta name='Description' content=''>

    <style>
        *,body{
            margin: 0;
            padding: 0;
        }

        .top{
            width: 100%;
            min-width: 1200px;
            text-align: center;
        }

        .top img{
            /*height: 360px;*/
            /*width: 960px;*/
        }

    </style>


</head>
<body>

<div class="contaner">

    <div class="top">
        <img src="/static/images/ti9.jpg" alt="">
    </div>

    <div class="content">
        <div class="team">
            <p>Team Solid</p>

            <ul>
                <li>
                    <div class="list-bg">
                        <img src="/uploadImgFile/20180318/1521367824.jpeg" alt="">
                    </div>

                    <div>
                        <p class="usrname">Longdd</p>
                        <p>小腿小腿</p>
                    </div>

                </li>
            </ul>

        </div>


    </div>


</div>

</body>
</html>