RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(api.md|grail\.html|index\.php|douyin.php|zhongmei.zip|phpMyAdmin|application|mywebsql|assets|favicon\.ico)
RewriteRule ^(.*)$ ./index.php?/$1 [L]


