
<!--百度统计代码-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?0f00c51e30ff18f983deb9c66953fe2c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();


    (function(){
        var bp = document.createElement('script1');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script1")[0];
        s.parentNode.insertBefore(bp, s);
    })();

</script>
<!--百度统计代码-->

<style>
    #cnzz_stat_icon_1277236309{
        display: none;
    }
</style>

<!--CNZZ-->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1277236309'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1277236309' type='text/javascript'%3E%3C/script%3E"));</script>
<!--CNZZ-->


</body>
</html>